.wrapper {
    margin: 0 auto;
    width: 867px;
}

.body {
    margin-top: 50px;
    box-sizing: content-box;
    border: 1px solid black;
    background: radial-gradient(circle, rgb(13, 152, 11), rgb(241, 241, 209));
}

.header {
    height: 323px;
    border: 1px solid black;
}

.nav {
    height: 51px;
    border: 1px solid black;
}

.sidebar {
    width: 251px;
    height: 490px;
    border: 1px solid black;
}

.news {
    width: 313px;
    height: 300px;
    border: 1px solid black;
}

.about {
    width: 303px;
    height: 300px;
    border: 1px solid black;
}

.estate {
    width: 616px;
    height: 190px;
    border: 1px solid black;
}

.footer {
    clear: both;
    height: 110px;
    border: 1px solid black;
}
/* 将 clear: both; 应用于 .footer 元素时，实际上是告诉浏览器在 .footer 元素上方创建一个空白区域，使得 .footer 不受前面浮动元素的影响。这样，.footer 元素将会显示在浮动元素的下方，而不是它们的侧面或之间。 */

/* 如果子标签继承了父级标签的宽度或者高度，那么浮动后，子标签托标，宽度继承失败，需要自己设置宽度。 */